Host oak
	#HostName ensc-rcl-01.engineering.sfu.ca
	HostName rcga-linux-ts1.dc.sfu.ca

Host rerun
	ProxyCommand ssh -q oak nc rerun.ensc.sfu.ca 22

Host peanuts
	ProxyCommand ssh -q oak nc peanuts.ensc.sfu.ca 22

Host woodstock
	ProxyCommand ssh -q oak nc woodstock.ensc.sfu.ca 22

Host rcl-1
	ProxyCommand ssh -q oak nc ensc-rcl-1.research.sfu.ca 22
	ServerAliveInterval 60

Host rcl-2
	ProxyCommand ssh -q oak nc ensc-rcl-2.research.sfu.ca 22
	ServerAliveInterval 60

Host home-server
	HostName 192.168.1.76
	ServerAliveInterval 60

Host gitlab.com
	IdentityFile ~/.ssh/id_ed25519_gitlab
	User git 

Host github.com
	IdentityFile ~/.ssh/id_ed25519_github
	User git
